body {
  background-color: #000000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #e2e2e2;
  font-weight: 700;
}

button {
  background: transparent;
  color: #b388ff;
  border: 1px solid #b388ff;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #b388ff;
  color: #000;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}
.form input,
.form textarea {
  background: transparent;
  border: 1px solid #4b0082;
  color: white;
  padding: 10px;
  border-radius: 8px;
}
textarea {
  grid-column: span 2;
  resize: none;
}

.cards {
  margin-top: 40px;
}